@model List<AssignmentDetailsView>
@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}
<!DOCTYPE html>
<html>
<head>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }</style>
    <link rel="stylesheet" href="~/css/forms.css" asp-append-version="true" />
</head>
<body>

    <div class="column-container">
        <table class="table" cellpadding="0" cellspacing="0">
            <thead>
                <tr>
                    <th style="width:150px">Assignment</th>
                    <th style="width:150px">Description</th>

                    @if (Model.Any(a => a.Role == 2))
                    {
                        <th style="width:150px">Deadline</th>
                        <th style="width:150px">Department</th>
                    }

                </tr>
            </thead>
            <tbody>
                @foreach (var assignment in @Model)
                {

                    <tr>
                        <td>
                            <a href="@Url.Action("AssignmentDetails", "Assignment", new {assignmentId=assignment.Id})" title="List View" class="links">
                                @assignment.Name
                            </a>
                        </td>
                        <td>@assignment.Description</td>
                        @if (Model.Any(a => a.Role == 2))
                        {

                            <td>@assignment.DeadLine</td>
                            <td>@assignment.Department.Name</td>
                        }
                    </tr>
                }
            </tbody>
        </table>

    </div>
</body>
</html>
